$font-family: 'Robot Regular';
@font-face {
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('roboto-regular'),
    url('./assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    url('./assets/fonts/roboto-v20-latin-regular.woff') format('woff')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  padding-top: 3rem;
}
h1 {
  text-align: center;
}